.display-4 {
  background-color: transparent;
  border: solid 2px #000000;
  border-radius: 5px;
  padding: 1px;
  color: #000000;
}
.input--style-6
{

  background-color: transparent;
  border: solid 2px #F5F5F5;
  border-radius: 9px;
  padding: 15px;
  color: #fafafa;

}
.select-style {
  padding: 2px;
  border: 2px solid #ccc;
  width: 50px;
  border-radius: 2px;
  height: 38px;
  overflow: hidden;
  background: #fafafa url("img/icon-select.png") no-repeat 90% 50%;
}
.select-style1{

  padding: 2px;
  border: 2px solid #ccc;
  width: 50px;
  border-radius: 2px;
  height: 38px;
  overflow: hidden;
  background: #bbb8b8 url("img/icon-select.png") no-repeat 90% 50%;

}

.select-style select {
  padding: 8px 8px 15px 15px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.select-style select:focus {
  outline: none;
}

#selectNote,#navStat{
  border: solid 0.5px silver;
  border-color: #7f8c8d;
  padding: 5px;
  padding-left: 20px;
  border-radius: 4px;
 
}
.select-styleKredi{
  padding: 2px;
  border: 2px solid #ccc;
  width: 90px;
  border-radius: 2px;
  height: 35px;
  overflow: hidden;
  background: #ffffff url("img/icon-select.png") no-repeat 90% 50%;


}

